# Created by .ignore support plugin (hsz.mobi)
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
Supprimerait .gitignore
Supprimerait .idea/
Supprimerait cmake-build-debug/
Supprimerait a.out
