# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.out
*.iml
build
cmake-build-debug
out
gen
Supprimerait .gitignore
Supprimerait .idea/